<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
    <style>
        #myMap {
            height:97vh;
        }
    </style>
    <title>Rekrutmen Test</title>
</head>
<body>
    <div id="myMap"></div>
    <script>
        const spotLight = [
            {
                name: 'Monumen Nasional',
                lat: -6.1753871,
                long: 106.8249641
            },
            {
                name: 'Istana Merdeka',
                lat: -6.1701257,
                long: 106.821972
            },
            {
                name: 'Museum Nasional Indonesia',
                lat: -6.1763968,
                long: 106.8194014
            },
            {
                name: 'Bandara Internasional Soekarno-Hatta',
                lat: -6.1275229,
                long: 106.6515171
            },
            {
                name: 'Taman Mini Indonesia Indah',
                lat: -6.3024406,
                long: 106.8929672
            },
            {
                name: 'PT. Bhumi Varta Technology',
                lat: -6.28740,
                long: 106.64084
            }
        ];
        const markers = [];
        const myMap = L.map('myMap').setView([-6.2293867, 106.6894312], 10);
        spotLight.forEach((item, index) => {
            markers[index] = L.marker([item.lat, item.long]).addTo(myMap);
            markers[index].bindPopup(item.name);
        });

        const attribution =
        '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors';
        const tileUrl = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
        const tiles = L.tileLayer(tileUrl, { attribution });
        tiles.addTo(myMap);
    </script>
</body>
</html>
